<link rel="import" href="../../../imports/moment-with-locales-import.html"/>
<link rel="import" href="../../../imports/date-time-picker-import.html"/>


<dom-module id="date-picker">
    <template>

        <style>
            paper-input-container {
                padding-left:5px;
                padding-right:10px;
            }
        </style>

        <paper-input-container always-float-label>
            <label>{{name}}</label>
            <input id="date_picker" type="text"/>
        </paper-input-container>

    </template>
</dom-module>

<script>
    Polymer({
        is: 'date-picker',

        properties: {
            name: {
                type: Date,
                reflectToAttribute: true,
                notify: true
            },
            value: {
                type: Object,
                reflectToAttribute: true,
                notify: true,
                observer: 'valueChanged'
            }
        },

        valueChanged: function () {
            var date_picker = this.$.date_picker;
            if (!G.isNullEmpty(this.value)) {
                $(date_picker).datetimepicker({value: this.value});
            }
        },

        ready: function () {

            var self = this;

            setTimeout(function () {

                var date_picker = self.$.date_picker;
                var options = {
                    timepicker: false,
                    lang: 'en',
                    format:'Y-m-d',
                    formatDate:'Y-m-d',
                    onChangeDateTime:function(dp,$input){
                        self.value = dp;
                    }
                };

                $(date_picker).datetimepicker(options);
                $(date_picker).datetimepicker({value: self.value});

            }, 100);

        }

    });
</script>
